<main class="main">
	<h1>App Component - {{ title }}</h1>
	<p>This parent component will interact with the input field inside the child below.</p>

	<app-child></app-child>

	<hr>
	<div class="parents-controls">
		<h4>Parents Controls</h4>
		<button (click)="callChildFocus()">Focus Child's Input</button>
		<button (click)="callChildGetValue()">Get Value From Child's Input</button>
		<button (click)="callChildSetValue()">Set Value In Child's Input</button>
		<p *ngIf="valueFromChild !== null">Value read from child: <strong>{{ valueFromChild }}</strong></p>
		<p>Reading child property: <strong>{{ childInstanceMessage }}</strong></p>
	</div>
</main>
<router-outlet />
