# Ignore all node-modules

ng-content-00/node_modules
ng-content-01/node_modules
test-00/node_modules

viewChild-00/node_modules
viewChild-01/node_modules
viewChild-02/node_modules

host-listener-00/node_modules
host-listener-01/node_modules
host-binding-00/node_modules

template-reference-variable-00/node_modules
template-reference-variable-01/node_modules
template-reference-variable-02/node_modules

customAttributeDirective-00/node_modules

ng-onChanges-00/node_modules
ng-onInit-00/node_modules
ng-doCheck-00/node_modules
ng-afterContentInit-00/node_modules
ng-afterContentInit-01/node_modules
ng-afterContentChecked-00/node_modules
ng-afterViewInit-00/node_modules
ng-afterViewChecked/node_modules
ng-onDestroy-00/node_modules

rendered2/node_modules

property-binding-vs-host-bind/node_modules

# Ignore all .angular

ng-content-00/.angular
ng-content-01/.angular

viewchild-00/.angular
viewchild-01/.angular
viewchild-02/.angular

host-listener-00/.angular
host-listener-01/.angular
host-binding-00/.angular

template-reference-variable-00/.angular
template-reference-variable-01/.angular
template-reference-variable-02/.angular

customAttributeDirective-00/.angular

ng-onChanges-00/.angular
ng-onInit-00/.angular
ng-doCheck-00/.angular
ng-afterContentInit-00/.angular
ng-afterContentInit-01/.angular
ng-afterContentChecked-00/.angular
ng-afterViewInit-00/.angular
ng-afterViewChecked/.angular
ng-onDestroy-00/.angular

rendered2/.angular

property-binding-vs-host-bind/.angular

test-00/.angular

# Ignore all .vscode

ng-content-00/.vscode
ng-content-01/.vscode

viewChild-00/.vscode
viewChild-01/.vscode
viewChild-02/.vscode

host-listener-00/.vscode
host-listener-01/.vscode
host-binding-00/.vscode

template-reference-variable-00/.vscode
template-reference-variable-01/.vscode
template-reference-variable-02/.vscode

customAttributeDirective-00/.vscode

ng-onChanges-00/.vscode
ng-onInit-00/.vscode
ng-doCheck-00/.vscode
ng-afterContentInit-00/.vscode
ng-afterContentInit-01/.vscode
ng-afterContentChecked-00/.vscode
ng-afterViewInit-00/.vscode
ng-afterViewChecked/.vscode
ng-onDestroy-00/.vscode

rendered2/.vscode

property-binding-vs-host-bind/.vscode

test-00/.vscode
