<main class="main">
  <div class="content">Content</div>
		<hr style="height: 2px; background-color: black; border: none;">
	<app-widget [test]='test'>

		<div header>
			<div class="widget-title">Weather Forecast</div>
			<div class="widget-sub-title">Currently in Vienna, Austria</div>
		</div>

		<hr style="height: 2px; background-color: black; border: none;">
		<!--<div class="sky-condition">some image</div>-->
		<!--<app-weather-content [temperature]='temperature'></app-weather-content>-->
	</app-widget>
</main>
<router-outlet />
