<main class="main">
  <div class="content">{{ title }}</div>
	<hr>
	<div style="font-family: sans-serif">
		<h1>AppComponent - Demonstrating ngAfterContentInit() </h1>

		<app-child1>
			<p>Some regular text projected into the wrapper.</p>
			<app-child2 [label]="'First Item'"></app-child2>
		</app-child1>

		<app-child1>
			<p>Content for the second wrapper, without the special item.</p>
		</app-child1>

		<app-child1>
			<app-child2 [label]="'Third Item (Alone)'"></app-child2>
		</app-child1>
	</div>
</main>
<router-outlet />
