<main class="main">
  <div class="content">{{ title }}</div>
	<hr>
	<input type="text" #inputEl (focus)="0">
	<button (click)="onBtnClicked(inputEl)">Submit</button>
	<app-child1 [message]="inputVal">
		<p #temp00>User has entered the following text: {{ inputVal }}</p>
	</app-child1>
	<hr>
	<button (click)="updateProjectedData()">Update Projected Data</button>
	<p>Current Value: {{ projectedValue }}</p>

	<app-child2>
		<h2>Projected Title</h2>
		<p>This paragraph is projected from the parent.</p>
		<p>The current value from parent is: <strong>{{ projectedValue }}</strong></p>
		<p #projectedParagraphRef>Another projected paragraph with a ref.</p>
	</app-child2>
</main>
<router-outlet />
