<main class="main">
  <div class="content">{{ title }}</div>
	<hr>
	<h2>Form Validation with ngModel Reference</h2>

	<label for='email'>Email:</label>
	<input type='email' id='email' name='email' required email [(ngModel)]='userEmail' #emailInput='ngModel'>

	<div *ngIf='emailInput.invalid && (emailInput.dirty || emailInput.touched)' style='color: red; margin-top: 5px;'>
		<div *ngIf="emailInput.errors?.['required']">Email is required.</div>
		<div *ngIf="emailInput.errors?.['email']">Please enter a valid email address.</div>
	</div>

	<p>Input touched: {{ emailInput.touched }}</p>
	<p>Input Valid: {{ emailInput.valid }}</p>
	<p>Input Errors: {{ emailInput.errors | json }}</p>

	<button [disabled]='!emailInput.valid'> Submit (Disabled if invalid)</button>
</main>
<router-outlet />
