<main class="main">
  <div class="content">{{ title }}</div>
	<hr>
	<h3>App Component</h3>

	<!--<input type='text' #inputEl>-->
	<input type='text' #inputEl (focus)="0">

	<button (click)="onBtnClicked(inputEl)">Submit</button>
	<app-child1 [message]="inputVal"></app-child1>
	<hr>
	<button (click)="onChangeName()">Change Name (Mutate)</button>
	<button (click)="onChangeConfigObj()">Change Object Reference</button>

	<!--<pre>{{ appConfig.name }}</pre>
	<pre>{{ appConfig.value }}</pre>-->

	<app-child2 [childConfig]="appConfig"></app-child2>
	<hr>
	<h2>App Component - Array Component</h2>
	<button (click)="addItem()">Add Item (Mutate)</button>
	<button (click)="replaceArray()">Replace Array</button>
	<pre>{{ itemsArray }}</pre>
	<app-child3></app-child3>
</main>
<router-outlet />
