<main class="main">
  <div class="content">{{ title }}</div>
	<hr>

	<!--<input type='text' #inputEl>-->
	<input type='text' #inputEl (focus)="0">

	<button (click)="onBtnClicked(inputEl)">Submit</button>
	<app-child1 [message]="inputVal"></app-child1>
	<hr>
	<button (click)="onChangeName()">Change Name (Mutate)</button>
	<button (click)="onChangeConfigObj()">Change Object Reference</button>

	<!--<pre>{{ appConfig.name }}</pre>
	<pre>{{ appConfig.value }}</pre>-->

	<app-child2 [childConfig]="appConfig"></app-child2>
</main>
<router-outlet />
